---
export interface Props {
  url: string;
  img: string;
  alt: string;
  title: string;
  author: string;
  mode: string;
}

let { url, img, alt, title, author, mode } = Astro.props;
if (! img.startsWith("https://i0.wp.com")) {
  img = "https://i0.wp.com/" + img.substring(8);
}
if (!img.endsWith("?w=700")) {
  img = img + "?w=700";
}
---

<article>
  <a href={url} target="_blank" class={mode}>
    <img loading="lazy" src={img} width="100%" height="auto" alt={alt} />
    <p class="title">{title}</p>
    <small>{author}</small>
  </a>
</article>

<style lang="scss">
  article {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  article .title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  article a {
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 black,
    2px 2px 3px rgba(81, 81, 81, 0.1);
  }

  article a:hover img {
    transform: scale(1.025);
    transition: transform 0.2s;
  }
  article img {
    border-radius: 5%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  }

/* aurora borealis effect modified from: https://dev.to/oobleck/css-aurora-effect-569n */
$color-1: chartreuse;
$color-2: magenta;
$color-3: cyan;
$color-4: black;

article img {
  animation: text-aura 15s ease-out infinite;
}

@keyframes text-aura {
  0% {
    box-shadow:
      0 -15px 15px rgba($color-1, 0.8),
      0 -4px 15px rgba($color-2, 0.8),
      5px 5px 15px rgba($color-3, 0.8),
      -3px -3px 15px rgba($color-4, 0.8);
  }
  33.333% {
    box-shadow:
      0 4px 12px rgba($color-3, 0.8),
      2px -10px 25px rgba($color-2, 1),
      -4px 0 35px rgba($color-1, 0.8),
      -2px 3px 15px rgba($color-4, 0.5);
  }
  66.666% {
    box-shadow:
      -5px 0 50px rgba($color-1, 1),
      5px 12px 8px rgba($color-3, 0.8),
      10px -5px 15px rgba($color-2, 0.6),
      -10px -10px 23px rgba($color-4, 0.8);
  }
  100% {
    box-shadow:
      0 -15px 15px rgba($color-1, 0.8),
      0 -4px 15px rgba($color-2, 0.8),
      5px 5px 15px rgba($color-3, 0.8),
      -3px -3px 15px rgba($color-4, 0.8);
  }
}
</style>
