---
export interface Props {
  title: string;
  body: string;
  logoSource: string;
  imageSource?: string;
  imageAlternativeText?: string;
  textColor?: string;
}

let {
  title,
  body,
  logoSource,
  imageSource,
  imageAlternativeText,
  textColor = "black",
} = Astro.props;

if (imageSource && !imageAlternativeText) {
  console.warn("Missing alternative text for", imageSource);
}

if (!imageSource.startsWith("https://i0.wp.com")) {
  imageSource = "https://i0.wp.com/" + imageSource.substring(8);
}
if (!imageSource.endsWith("?w=1400")) {
  imageSource = imageSource + "?w=1400";
}
---

<header style={`color: ${textColor}`}>
  <a href="https://michigandaily.com" style="width: fit-content;">
    <img
      src={logoSource}
      alt="The Michigan Daily logo"
      width="50px"
      height="auto"
    />
  </a>

  <div id="header-content">
    <h1>{title}</h1>
    <div id="byline">
      <p style="line-height: 1.5rem;">Presented by <span class="text-gradient">The Statement Magazine</span></p>
    </div>
    
    <img id="header-img" src={imageSource} alt={imageAlternativeText} />
  
    <div id = "foreword">
    <p>I’ve always thought of traveling as a distant dream: foreign lands, fantastical adventures and strangers to one day befriend; the concept of travel, to me, often felt more like fiction than fortune. When faced with the reality of expensive flights and limited time in the year, traveling still exists as a mirage - only attained through costly vacations and unachievable luxury. But as our talented Statement writers and editors have so beautifully demonstrated, travel can take many different forms throughout our lives. While it can certainly yield trips to tropical islands and big cities, it can also take the shape of a comforting bus ride or a fear-defying roller coaster, and for some, it even manifests as an attachment to a certain place or person - documented through the memories, letters and journals of our past. As you read the narratives below, I urge you to look beyond your preconceived notions of adventure and reflect on how exactly travel takes shape to you.</p>
    <p> Statement Managing Editor Reese Martin</p>
    </div>
  </div>
</header>

<style>
  header {
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
  }

  #header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header-content h1 {
    font-size: calc(1.5em + 6vw);
    margin-top: 1rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 1px 0 black,
    2px 2px 3px rgba(81, 81, 81, 0.1);
  }

  #byline {
    max-width: 60ch;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    color: white;
  }

  #byline p {
      margin-block-start: 0;
  }

  .text-gradient {
		background-image: linear-gradient(45deg, #3f7cff, #1dceff 30%, white 60%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

  #foreword {
		line-height: 1.6;
		background-color: #1b2437;
    color: white;
		padding: 1rem;
		border-radius: 1rem;
    font-size: 1.2em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

  #foreword p:last-child {
    margin: 0;
    color:#d9d9d9;
  }

  @media screen and (max-width: 767px) {
    #foreword {
    margin: 0;
    padding: 1rem;
    }

    header {
      margin: 1rem;
      padding: 0;
    }
  }

  @media screen and (min-width: 768px) {
    #foreword {
      margin: 1rem 4.2rem;
    }
  }

  #header-content #header-img {
    aspect-ratio: 3 / 2;
    border-radius: 1rem;
    width: min(150ch, 100%);
    margin: max(1rem, 10px);
  }

header #header-content h1 {
    margin-top: 3rem;
    }
</style>
