---
export interface Props {
  title: string;
  seotitle: string;
  description: string;
  author: string;
}

const { title, seotitle, description, author, } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/2023/travel-edition/icons/favicon.svg"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/2023/travel-edition/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/2023/travel-edition/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/2023/travel-edition/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/2023/travel-edition/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/2023/travel-edition/icons/safari-pinned-tab.svg"
      color="#000000"
    />
    <link
      rel="alternate icon"
      sizes="48x48"
      href="/2023/travel-edition/icons/favicon.ico"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="generator" content={Astro.generator} />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="The Michigan Daily" />
    <meta property="og:title" content={seotitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content= />

    <meta
      property="article:publisher"
      content="https://www.facebook.com/michigandaily"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@michigandaily" />
    <meta name="twitter:creator" content="@michigandaily" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content={author} />
    <meta name="twitter:title" content={seotitle} />
    <meta name="twitter:description" content={description} />

    <meta name="author" content={author} />
    <meta name="description" content={description} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{seotitle}</title>
  </head>
  <body>
    <slot />
    <style is:global>
      html,
      body {
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
    </style>
  </body>
</html>
